*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.top-header{
    background-image: url(/images/sport.jpg);
    display: flex;
    justify-content: space-evenly;
}
a{
    color: white;
    transition:all 1s;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.3s;
}
.image{
    width: 100px;
    height: 100px;
}
.buttons{
    transition: all 0.5s ease;
   width: 100px;
   height: 30px;
   border-radius: 15px;
   cursor: pointer;
}