*{
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.top-header{
    /* background-image: url(/images/sport.jpg); */
    display: flex;
    justify-content: space-evenly;
}
a{
    color: black;
    transition:all 1s;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.3s;
}
.image{
    width: 100px;
    height: 100px;
}
.buttons:hover{
   padding: 12px 24px;
   border-radius: 30px;
   font-size: 16px;
   cursor: pointer;
    background-color: black;
   border: none;
  transition: 
    background-color 0.3s ease,
    transform 0.3s ease,
    box-shadow 0.3s ease;
}
.buttons:hover{
     background-color: brown;
    transform: translateX(-50%) scale(1.05);
    box-shadow: 0 8px 20px rgba(0,0,0,0.25);
}
   

.images{
    width: 100%;
    height: 500px;
}
.image-container {
  position: relative; /* référence pour le bouton */
  width: 100%;
}

.image-container img {
  width: 100%;
  display: block;
}

.btn-overlay {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;

  background-color:  #b8001c;
  color: white;
  border: none;
  padding: 12px 24px;
  border-radius: 30px;
  font-size: 16px;
  cursor: pointer;
   transition: 
    background-color 0.3s ease,
    transform 0.3s ease,
    box-shadow 0.3s ease;
}
.btn-overlay:hover {
  background-color:black;
  transform: translateX(-50%) scale(1.05);
  box-shadow: 0 8px 20px rgba(0,0,0,0.25);
}
.section2{
  font-size: 25px;  
  display: flex;
  justify-content: space-evenly;
}
.paragraphe{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 16Ppx 50px;
}
footer{
    display: flex;
    background-image:url(/images/bande\ rouge.jpg);
    height: 150px;
}

.logo{
    width: 100px;
    height: 100px;
    display: flex;
    margin-left: 12pxs;
}
.logo1{
     width: 30px;
    height: 30px;
}
.logo2{
  width: 30px;
    height: 30px;   
}